<%= form_for([@test,@question]) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <h3>Answers</h3>
  <div id="answers">
    <%= f.fields_for :answers do |answer| %>
      <%= render 'answers/answers_fields', :f => answer %>
    <%end%>
    <div class="links">
      <%= link_to_add_association 'add answer', f, :answers,
:partial => 'answers/answers_fields'%>
    </div>
   
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
