<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<p>
  <strong>Test:</strong>
  <%= @question.test %>
</p>

<%= link_to 'Edit', edit_test_question_path(@test,@question) %> |
<%= link_to 'Back', test_questions_path(@test) %>
