
<%= form_for(@institute) do |f| %>
  <div class="inputs authform">
    <%= errors_for @institute  %>
    <div class="form-group">
      <%= f.text_field :name, class: 'form-control floating-label', placeholder: "Institute name" %>
    </div>
    <div class="form-group">
      <%= f.text_area :details, class: 'form-control floating-label', placeholder: "Details of the institute" %>
    </div>
    <div class="form-group">
      
      <label for="inputFile" class="col-lg-2 control-label">Logo</label>
        <div class="col-lg-10">
            <input type="text" readonly="" class="form-control floating-label" placeholder="Browse...">
             <%= f.file_field :image, :id => "inputFile"%>
        </div>
    </div>
    <div class="form-group">
      <%= f.submit "Create", :class => 'btn btn-success' %>
    </div>
  </div>
<% end %>