<div class="well pwell clearfix">
<h1>Listing Institutes<span class="pull-right"><%= link_to new_institute_path do %><button class="btn btn-fab btn-raised btn-success"><i class="mdi-content-add"></i></button><%end%></span></h1><br>


    <div class="row nolink clearfix">
    <% @institutes.each do |institute| %>
      <%=link_to institute do %>
      <div class="col-md-3 col-sm-6 col-xs-12 clearfix" >
        <div class="well clearfix">
          <h5>
            <b>Name:</b><%= institute.name %><br><br>
          </h5>
          <p><%= institute.details %></p>
          <div class="img-qaa clearfix">
            <%= image_tag institute.image if institute.image %>
          </div>
        </div>
      </div>
      <%end%>
    <% end %>
    </div>

</div>
