<div class="row">
  <div class="col-lg-3">
    <div class="well">
      <h3>Admin actions</h3>
      <%= link_to "Manage verified student", verified_user_path, :class => "btn btn-success" %>
      <%= link_to "Manage admin", admin_path , :class => "btn btn-success"%>
      <%= link_to "Manage Insitute admin", insitute_admin_path , :class => "btn btn-success"%>
      <%= link_to "Manage professor", professor_path , :class => "btn btn-success"%>
      <%= link_to "View reports of stundents", reports_path, :class => "btn btn-success" %>
      <%= link_to "Change institute packages", change_insitute_package_path, :class => "btn btn-success" %>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="well">
      <h3>All Users</h3>
      <hr>
      
      <div class="row">
        <div class="col-md-3">
        <b>Name</b>
        </div>
        <div class="col-md-3">
        <b>Email</b>
        </div>
        <div class="col-md-3">
        <b>Institute</b>
        </div>
        <div class="col-md-3">
        <b>Role</b>
        </div>
      </div>
      <hr>
      <% @users.each do |user| %>
          <%= render user %>
      <% end %>
    </div>
  </div>
</div>
