<%= form_for(@test_attempt) do |f| %>
  <% if @test_attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_attempt.errors.count, "error") %> prohibited this test_attempt from being saved:</h2>

      <ul>
      <% @test_attempt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :test_id %><br>
    <%= f.text_field :test_id %>
  </div>
  <div class="field">
    <%= f.label :marks %><br>
    <%= f.text_field :marks %>
  </div>
  <div class="field">
    <%= f.label :time_taken %><br>
    <%= f.time_select :time_taken %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
