<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @test_attempt.user %>
</p>

<p>
  <strong>Test:</strong>
  <%= @test_attempt.test %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @test_attempt.marks %>
</p>

<p>
  <strong>Time taken:</strong>
  <%= @test_attempt.time_taken %>
</p>

<%= link_to 'Edit', edit_test_attempt_path(@test_attempt) %> |
<%= link_to 'Back', test_attempts_path %>
