<p id="notice"><%= notice %></p>

<h1>Listing Attempt Questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Test attempt</th>
      <th>Mark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attempt_questions.each do |attempt_question| %>
      <tr>
        <td><%= attempt_question.question %></td>
        <td><%= attempt_question.test_attempt %></td>
        <td><%= attempt_question.mark %></td>
        <td><%= link_to 'Show', attempt_question %></td>
        <td><%= link_to 'Edit', edit_attempt_question_path(attempt_question) %></td>
        <td><%= link_to 'Destroy', attempt_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attempt question', new_attempt_question_path %>
