<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @attempt_question.question %>
</p>

<p>
  <strong>Test attempt:</strong>
  <%= @attempt_question.test_attempt %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @attempt_question.mark %>
</p>

<%= link_to 'Edit', edit_attempt_question_path(@attempt_question) %> |
<%= link_to 'Back', attempt_questions_path %>
