<%= form_for(@category) do |f| %>

  <div class="inputs authform">
    <%= errors_for @category%>

    <div class="form-group">
      <%= f.text_field :title , class: 'form-control floating-label', placeholder: "Title"%>
    </div>
    <div class="form-group">
      <%= f.collection_select :package_id, Package.all, :id, :name, {},:class => "form-control floating-label" , :placeholder => "Select Package" %>
    </div>
    <div class="form-group">
      <%= f.submit "Submit", :class => 'btn btn-success'%>
    </div>
  </div>
<% end %>
