
<%= link_to categories_path do %><button class="btn btn-fab btn-raised btn-material-red"><i class="mdi-navigation-arrow-back"></i></button><%end%>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="well">
		  <h1><%= @category.title %></h1>
		  <h3><b>Package:</b> <%=link_to @category.package.name, @category.package %></h3>
			<%= link_to 'Edit', edit_category_path(@category), :class => "btn btn-warning" %>
      <%= link_to 'Delete', @category, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-danger"%><br>
      <hr>
      <h2>Tests in this category</h2>
      <div class="row">
      <% @category.tests.each do |t| %>
      	<%= render partial: "tests/view", :locals => { :test => t} %>
    	<%end%>
    	</div>
		</div>
	</div>
</div>
