<div class="well">
<h1>Allowed Packages for Institutes<span class="pull-right"><%= link_to new_institute_package_path do %><button class="btn btn-fab btn-raised btn-success"><i class="mdi-content-add"></i></button><%end%></span></h1><br>

<div class="">
  <div class="row">
    <h3>
      <div class="col-sm-3">Institute</div>
      <div class="col-sm-3">Package</div>
      <div class="col-sm-3">Allowed By</div>
    </h3> 
  </div>
  <hr>
  <div class="row">
    <% @institute_packages.each do |institute_package| %>
        <div class="col-sm-3"><%= alink_to institute_package.institute %></div>
        <div class="col-sm-3"><%= alink_to institute_package.package %></div>
        <div class="col-sm-3"><%= alink_to institute_package.user %></div>
        <div class="col-sm-3"><%= alink_to 'Edit', edit_institute_package_path(institute_package) ,:class => 'btn btn-warning btn-sm twopxmargin'%>
        <%= link_to 'Destroy', institute_package, method: :delete, data: { confirm: 'Are you sure?' },:class => 'btn btn-danger btn-sm twopxmargin' %></div>
    <% end %>
  </div>
</div>
</div>