
<%= form_for @test, :html => {:class => 'form-horizontal test-form'} do |f| %>
  <fieldset>
  <%= errors_for @test  %>

  <div class="form-group">
    <%= f.text_field :title , required: true, :class => 'form-control floating-label',:placeholder => "Name of the test"%>
  </div>
 <div class="form-group">
   <%= f.collection_select(:category_id, @categories, :id, :title, {:include_blank => "Select a Category"} ,{ :required => :true, :class => 'form-control'}) %>
  </div>
  <div class="form-group">
    
    <div class="checkbox" style="padding-top: 0px">
      <label>
    <%= f.check_box :free %> Free Test?
      </label>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Submit',  :class => 'btn btn-success' %>
  </div>
</fieldset>
<% end %>
