<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @test.category.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @test.user.name %>
</p>


<p>
  <strong>Free:</strong>
  <%= @test.free %>
</p>
<h2>Questions</h2>
<% @test.questions.each do |q| %>
<%= render partial: "questions/view", :locals => {:question => q} %>
<%end%>
<%= link_to 'Add question', new_test_question_path(@test) %><br>
<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
