<div class="well">
	<h3> Title: <%= @test.title %></h3>
	<h3> Category: <%= @test.category.title %></h3>
	<p>Test attempt for <%= @test_attempt.user %> for <%= link_to test_path(@test) %></p>
	<h1> Questions </h1>
	<% @attempt_questions.each do |aq| %>
		<div class="well">
		<%= aq.question.title %>
		<h3>Answers</h3>
		<% @attempt_answers[aq.id].each do |aa| %>
		<div class="test_answer">
		  <div class="checkbox" >
		    <label>
		      <input type="checkbox" 
		      <% if aa.choosen %> checked="" <%end%> class="attempt_answer" id="<%=aa.id%>"> 
		      <%= aa.answer.text %>
		      
		    </label>
		  </div>
		</div>
		<%end%>
		</div>
	<%end%>
</div>
<script>
$(document).on('click','.attempt_answer',function () {
	$.ajax({
  url: '/taketest/'+<%=@test_attempt.id.to_s%> + '/' + this.id
});
});
</script>